body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevents scrolling */
}

#bg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; /* Ensures it covers the screen */
}

/* ----------------------------------- MAIN DIV ----------------------------------- */
#main-div {
  opacity: 0;
  pointer-events: none; /* Prevent interaction before fade-in */
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  margin-top: 80px;
}

/* When main-div fades in */
#main-div.show {
  opacity: 1;
  pointer-events: auto; /* Allow interactions when visible */
}

#time-greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#time {
  font-size: 160px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: -50px;
}

#greetings {
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
}

#main-goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

#day {
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: 0;
}

#goal-form {
  width: 100%; /* Make the form take the full width of its parent */
  display: flex;
  justify-content: center;
}

#goal-task {
  border: none;
  border-bottom: 2px solid white; /* Thin line */
  outline: none; /* Removes focus outline */
  background: transparent; /* Removes white background */
  width: 100%;
  font-size: 40px;
  color: white;
  padding: 5px;
  text-align: center; /* Centers the text inside */
  margin-top: 10px;
}

#day-task {
  display: none;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin: 0;
}

/* When intro-div fades out */
#goal-form.hide,
#goal-task.hide {
  opacity: 0;
  pointer-events: none; /* Prevent interaction after fade-out */
  transition: opacity 0.5s ease-in-out;
}

/* Fully hide intro-div after fading out */
#goal-form.hidden,
#goal-task.hidden {
  display: none;
}

/* ----------------------------------- INTRO SECTION ----------------------------------- */

#intro-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
  z-index: 10; /* Make sure it's above other elements */
}

/* When intro-div fades out */
#intro-div.hide {
  opacity: 0;
  pointer-events: none; /* Prevent interaction after fade-out */
  transition: opacity 0.5s ease-in-out;
}

/* Fully hide intro-div after fading out */
#intro-div.hidden {
  display: none;
}

#name-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}

#name-what {
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin: 0;
}

#name-form {
  width: 100%; /* Make the form take the full width of its parent */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-form {
  border: none;
  border-bottom: 2px solid white; /* Thin line */
  outline: none; /* Removes focus outline */
  background: transparent; /* Removes white background */
  width: 100%;
  font-size: 40px;
  color: white;
  padding: 5px;
  text-align: center; /* Centers the text inside */
  margin-top: 40px;
  margin-bottom: 10px;
}

#enter-name {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin-top: 10px;
}

button {
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
  color: white;
  border: 1px solid white;
  padding: 8px 20px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 10px;
  backdrop-filter: blur(5px); /* Adds a blur effect */
  -webkit-backdrop-filter: blur(5px); /* Ensures compatibility with Safari */
  transition: background 0.3s, backdrop-filter 0.3s;
}

button:hover {
  background: rgba(128, 128, 128, 0.6); /* Semi-transparent gray */
  backdrop-filter: blur(10px); /* Increases blur on hover */
}

/* ----------------------------------- Edit Quote ----------------------------------- */
#qotd {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  margin-top: 100px;
  width: 800px;
  /* height: 100px; */
}

#quote {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

#edit-quote-task {
  position: absolute;
  display: flex;
  bottom: 0px;
  right: -500px;
}

#edit-quote,
#add-task,
#add-quote {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* Ensures compatibility with Safari */
  transition: background 0.3s, backdrop-filter 0.3s;
}

/* Add quote and task */
#add-quote {
  opacity: 0;
  pointer-events: none; /* Prevent interaction when hidden */
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  bottom: 70px;
  right: -500px;
}

#add-quote.visible {
  opacity: 1;
  pointer-events: auto;
}

#add-quote {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid transparent;
  padding: 10px a;
  font-size: 14px;
  font-weight: 600;
  width: 350px;
  height: auto;
  padding-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* Ensures compatibility with Safari */
}

.new-quote {
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 20px;
  color: white;
  padding: 0px;
  text-align: start;
  margin: 0px;
  margin-bottom: 8px;
}
